body {
  background-color: #222222;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 60px;
  line-height: 70px;
  text-shadow: 3px 4px 5px #000000;
}

h2 {
  display: inline;
  font-size: 40px;
  line-height: 50px;
  text-shadow: 2px 3px 4px #000000;
}

h3 {
  font-size: 30px;
  line-height: 40px;
  text-shadow: 1px 2px 3px #000000;
}

a {
  line-height: 30px;
  color: #ffffff;
}

a:hover {
  color: #4455ff
}

code {
  font-size: 18px;
  color: #ff6600;
}

img {
  display: block;
  margin: auto;
  box-shadow:
    10px 10px 20px #00000099,
    -10px 10px 20px #00000099;
  border-radius: 5px;
  max-width: 700px;
  max-height: 500px;
  cursor: pointer;
}

video {
  display: block;
  margin: auto;
  border-radius: 5px;
  max-width: 700px;
  max-height: 500px;
  cursor: pointer;
}

.centralised {
  display: block;
  margin: auto;
  max-width: 1000px;
  font-size: 16px;
  line-height: 22px;
}

#name {
  display: block;
  line-height: normal;
}

.polaroid {
  position: relative;
  float: right;
  transition:
    transform 2s,
    height 2s,
    box-shadow 2s;
  box-shadow: 1px 2px 3px #000000;
  height: 300px;
  padding: 20px;
  background-color: #ffffff;
}

.picture {
  box-shadow: none; 
  border-radius: 0;
  height: 100%;
  background-color: #000000;
  cursor: default;
}

#me {
  z-index: 2;
  top: 18px;
  right: 40px;
  -webkit-transform : rotate(5deg);
  transform : rotate(5deg);
}

#me:hover {
  -webkit-transform : rotate(0deg);
  transform : rotate(0deg);
  box-shadow: 10px 20px 30px #000000;
  height: 320px;
}

#blank {
  z-index: 1;
  top: 18px;  
  left: 300px;
  -webkit-transform : rotate(-10deg);
  transform : rotate(-10deg);
  width: 300px;
}

.back {
  float: right;
  line-height: 50px;
}

#modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #00000099
}

#image {
  margin-top: 31px;
  max-width: 90%;
  max-height: 90%;
}

#caption {
  display: block;
  margin: auto;
  width: 80%;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
}

#cross {
  position: absolute;
  top: 15px;
  right: 35px;
  cursor: pointer;
  font: 40px bold;
}

@media (max-width: 715px) {
  img, video {
    max-width: 100%;
  }

  img {
    max-height: 100%;
    cursor: default;
  }

  #image {
    max-width: 100%;
    max-height: 100%;
  }

  .polaroid {
    display: none;
  }
}